Package: ch.marcoroth.shortlook.plugin.photos.ifun
Name: ifun.de Photos for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.0
Architecture: iphoneos-arm
Description: Show ifun.de Photos in ShortLook when you receive a ifun.de notification!
Maintainer: Marco Roth
Author: Marco Roth
Section: Tweaks (ShortLook)
